:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --border-color: #dbdbdb;
  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid-column-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: 50%;
}

.grid-column-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.grid__column-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% - 16.6667%);
}
